<div class="menu" data-controller="toggle">
  <button data-action="toggle#showHideList">Toggle Menu</button>
  <ul data-toggle-target="list">
    <li>I am menu item 1</li>
    <li>I am menu item 2</li>
    <li>I am menu item 3</li>
    <li>I am menu item 4</li>
  </ul>
</div>

<div class="text-div">
  <input type="text" id="" placeholder="Enter Text <40 chars">
</div>
